
extends base

block content
    form(class="searching" method="GET" id="theform" onsubmit="return removeEmpties()")
        
        input(type="text" placeholder="Znajdź produkt" name="title" class="name"  )
        <select name="category" id="cat" >
                option(selected="selected" disabled value="" hidden) Wybierz kategorię
                each cat in categories
                    //- option(value="" selected disabled hidden )
                    option(value=`${cat}`) #{cat.replace("/","")}
                </select>










        button(type="submit" class="szukaj") SZUKAJ
        br
        br
        <label class="cena"for="price">Cena (zł)</label>
        input(type="text" id="price" name="price[gt]" placeholder="od"   )
        <label for="price"></label> -
        input(type="text" id="price" name="price[lt]" placeholder="do" )
        <select name="sort" id="sort" >
                                        option(selected="selected" disabled value="" hidden) Sortowanie
                                        option(value='price') rosnaco
                                        option(value='-price') malejaco
                                        </select>

   


        .container
            .row.gx-2.justify-content-center
                each product in products
                    <div class="odstep">
                        .card.h-10
                            img.zdj(src=product.image, alt='...')                           
                            .card-body.p-1
                                .text-center
                                    <div class="nazwa">
                                        h5.nazwa=product.title
                                    </div>
                                    h5="Cena: " + product.price + " zł"
                                    if(product.shops.length==0)
                                        a(href='https://www.ceneo.pl' + product.link) Zobacz oferty sklepów
                                    else 
                                        a(href=product.link) Zobacz oferty sklepów
                                    br
                    </div>
                             