extends base

block content
    form(class="searching" method="GET" id="theform" onsubmit="return removeEmpties()")
        input(type="text" placeholder="Search.." name="title"  )
        br
        <label for="category">Wybierz kategorię:</label>
        <select name="category" id="cat" >
        option(selected="selected" disabled value="")
        each cat in categories
            //- option(value="" selected disabled hidden )
            option(value=`${cat}`) #{cat}
        </select>
        <label for="sort">Sortuj:</label>
        <select name="sort" id="sort" >
        option(selected="selected" disabled value="")
        option(value='price') rosnaco
        option(value='-price') malejaco

        input(type="text" id="price" name="price[gt]"   )
        <label for="price">Cena od</label>
         input(type="text" id="price" name="price[lt]" )
        <label for="price">Cena do</label>

            
            
        button(type="submit") SZUKAJ

   
    each product in products
        //let link=`https://www.ceneo.pl #{product.link}`
        h2=product.title
        h3=product.price
        h3=product.category
        h4= product.id
        img(src=product.image)
       
        //- h4#link
        if(product.shops.length==0)
            a(href='https://www.ceneo.pl' + product.link) Link
        else 
            a(href='products'+product.link) Link
        br

    
     
        
    
    