extends base

block content
    form(class="searching" method="GET" id="theform" onsubmit="return removeEmpties()")
        
        input(type="text" placeholder="Znajdź produkt" name="title" class="name"  )
        <select name="category" id="cat" >
                option(selected="selected" disabled value="" hidden) Wybierz kategorię
                each cat in categories
                    //- option(value="" selected disabled hidden )
                    option(value=`${cat}`) #{cat}
                </select>





        <select name="sort" id="sort" >
        option(selected="selected" disabled value="" hidden) Sortuj
        option(value='price') rosnaco
        option(value='-price') malejaco
        </select>



        <label for="price">Cena (zł)</label>

        input(type="text" id="price" name="price[gt]" placeholder="od"   )
        <label for="price"></label> -
        input(type="text" id="price" name="price[lt]" placeholder="do" )
        button(type="submit" class="szukaj") SZUKAJ



   

    section.py-12
            .container.px-4.px-lg-6.mt-6
                .row.gx-2.d-flex.justify-content-center
                    each product in products
                        <div class="odstep">
                            .card.h-10                           
                                img.zdj(src=product.image, alt='...')                           
                                .card-body.p-2
                                    .text-center
                                        <div class="nazwa">
                                            h5.nazwa=product.title
                                        </div>
                                        h5="Cena: " + product.price + " zł"
                                        if(product.shops.length==0)
                                            a(href='https://www.ceneo.pl' + product.link) Zobacz oferty sklepów
                                        else 
                                            a(href='products'+product.link) Zobacz oferty sklepów
                                        br
                                .card-footer.p-2.pt-0.border-top-0.bg-transparent
                                    .text-center
                        </div>
                                        
                    
                    
                    

    
     
        
    
